<div class="container">
  <div class="col-md-12">
    <h1>Batch List</h1>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Name</th>
          <th class="text-center">Description</th>
          <th class="text-center">Accounting Period</th>
          <th class="text-center">Completation Status</th>
          <th class="text-center">Batch Status</th>
          <th class="text-center">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let batch of batches">
          <td>{{ batch.id }}</td>
          <td>{{ batch.name }}</td>
          <td>{{ batch.description }}</td>
          <td>{{ batch.accountingPeriod }}</td>
          <td>{{ batch.completationStatus }}</td>
          <td>{{ batch.batchStatus }}</td>
          <td>
            <button class="btn btn-info" (click)="showEditBatchForm(editBatchForm,batch)">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-danger" (click)="removeBatch(batch)">
              <i class="fa fa-minus"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-success" (click)="showAddBatchForm(batchForm)">
      <i class="fa fa-plus"></i>
    </button>
    <br />
    <br />

    <ng-template #batchForm let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Add New Batch</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="batchForm">
          <p>Name:
            <input type="text" name="name" [(ngModel)]="newBatch.name" />
          </p>
          <p>Description:
            <input type="text" name="description" [(ngModel)]="newBatch.description" />
          </p>
          <p>Accounting Period:
            <input type="text" name="accountingPeriod" [(ngModel)]="newBatch.accountingPeriod" />
          </p>
          <p>Completation Status:
            <select name="completationStatus" [(ngModel)]="newBatch.completationStatus">
              <option value="Complete">Complete</option>
              <option value="Start">Start</option>
              <option value="Otro">Otro</option>
            </select>
          <p>Batch Status:
              <input type="text" name="batchStatus" [(ngModel)]="newBatch.batchStatus" />
          </p>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="saveBatch(newBatch);c('Close click');">Submit</button>
          <button type="button" class="btn btn-warning" (click)="cancelNewBatch();c('Close click');">Cancel</button>
        </div>
      </div>
    </ng-template>
    <ng-template #editBatchForm let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Edit Batch</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="editBatchForm">
          <h2>Edit Batch Details</h2>
          <p>ID:
            <input type="text" name="id" [readonly]="true" [(ngModel)]="editedBatch.id" />
          </p>
          <p>Name:
            <input type="text" name="name" [(ngModel)]="editedBatch.name" />
          </p>
          <p>Description:
            <input type="text" name="description" [(ngModel)]="editedBatch.description" />
          </p>
          <p>Accounting Period:
            <input type="text" name="accountingPeriod" [(ngModel)]="editedBatch.accountingPeriod" />
          </p>
          <p>Completation Status:
            <select name="completationStatus" [(ngModel)]="editedBatch.completationStatus">
              <option value="Complete">Complete</option>
              <option value="Start">Start</option>
              <option value="Otro">Otro</option>
            </select>
            <p>Batch Status:
              <input type="text" name="batchStatus" [readonly]="true" [(ngModel)]="editedBatch.batchStatus" />
            </p>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="updateBatch(editedBatch);c('Close click');">Submit</button>
            <button type="button" class="btn btn-warning" (click)="cancelEdits();c('Close click');">Cancel</button>              
        </div>
      </div>
    </ng-template>
  </div>
</div>